
.img1 {
    height: 70px;
}

.bg1 {
    background-image: linear-gradient(to right, #f3eaff, #dac0ff);
}

.main-heading {
    color: #690cb0;
    font-size: 50px;
    font-weight: 700;
    font-family: Roboto;
}

.txt {
    color: #3e4c59;
    font-family: Roboto;
}

.txt1 {
    color: #323f4b;
    font-size: 40px;
    font-family: Roboto;
    padding-left: 20px;
}

.txt2 {
    color: #323f4b;
    font-size: 17px;
    font-family: Roboto;
}

.txt3 {
    color: #3e4c59;
    font-size: 20px;
    font-family: Roboto;
}

.bg2 {
    border-style: solid;
    border-width: 1px;
    border-color: #9aa5b1;
    border-radius: 10px;

}

.btn1 {
    background-color: #690cb0;
    color: white;
    font-family: Roboto;
}

.btn2 {
    background-color: #ffffff;
    font-family: Roboto;

}